body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.WEB-Ch-Title-1st-line-22pt-copy {
	color:#000000;
	font-family:"ITC New Baskerville Std Bold Italic", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.WEB-Content-reg-paragraph-no-indent {
	border-color:#149bdc;
	border-radius:12px 12px 12px 12px;
	border-style:solid;
	border-width:1px 1px 1px 1px;
	color:#149bdc;
	font-family:"Gabriola Regular", sans-serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:9px;
	margin-right:9px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.c-Document-in-a-Box- {
	border-color:#149bdc;
	border-radius:12px 12px 12px 12px;
	border-style:solid;
	border-width:1px 1px 1px 1px;
	color:#000000;
	font-family:"Gabriola Regular", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:9px;
	margin-right:9px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.c-Document-in-a-Box-copy {
	border-color:#149bdc;
	border-style:solid;
	border-width:1px 1px 1px 1px;
	color:#000000;
	font-family:"Gabriola Regular", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:9px;
	margin-right:9px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.c-Regular-Para-w-no-indent {
	color:#000000;
	font-family:"ITC New Baskerville Std Roman", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
span._Blue-copy {
	color:#149bdc;
}
span.c-Char-Roman-10-pt {
	font-family:"ITC New Baskerville Std Roman", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.c-Char-Roman-14-pt- {
	color:#000000;
	font-family:"ITC New Baskerville Std Roman", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.c-Character-Italics-in-text {
	color:#000000;
	font-family:"ITC New Baskerville Std Italic", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.c-Drop-Cap-with-tracking {
	font-family:"ITC New Baskerville Std Roman", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
p.ParaOverride-1 {
	margin-left:0px;
}
p.ParaOverride-2 {
	margin-left:0px;
	margin-right:23px;
}
p.ParaOverride-3 {
	text-align:center;
}
p.ParaOverride-4 {
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-5 {
	margin-left:36px;
	margin-right:0px;
}
p.ParaOverride-6 {
	text-align:justify;
	text-align-last:center;
}
p.ParaOverride-7 {
	border-color:#000000;
	border-style:solid;
}
span.CharOverride-1 {
	font-size:18px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-3 {
	font-size:16px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-4 {
	font-size:14px;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-5 {
	color:#0462eb;
	font-size:20px;
}
span.CharOverride-6 {
	font-size:12px;
}
span.CharOverride-7 {
	font-size:18px;
}
span.CharOverride-8 {
	font-size:14px;
}
span.CharOverride-9 {
	font-size:14px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-10 {
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-12 {
	font-style:italic;
	font-weight:normal;
}
#_idContainer000 {
	display:inline-block;
	height:135px;
	width:153px;
}
#_idContainer002 {
	display:inline-block;
	height:0px;
	position:relative;
	width:4px;
}
#_idContainer003, #_idContainer014 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:72.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:99.00px;
	z-index:2;
}
#_idContainer004, #_idContainer015 {
	-ms-transform:translate(125.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(125.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:75.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(125.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(125.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:99.00px;
	z-index:0;
}
#_idContainer005, #_idContainer016 {
	-ms-transform:translate(260.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(260.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:75.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(260.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(260.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:99.00px;
	z-index:1;
}
#_idContainer006, #_idContainer017 {
	display:inline-block;
	height:75px;
	position:relative;
	width:360px;
}
#_idContainer007 {
	display:inline-block;
	height:93px;
	width:333px;
}
#_idContainer009 {
	display:inline-block;
	height:442px;
	width:342px;
}
#_idContainer011 {
	display:inline-block;
	height:9px;
	width:9px;
}
#_idContainer020 {
	-ms-transform:translate(0.000px,2.249px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,2.249px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:72.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,2.249px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,2.249px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:95.33px;
	z-index:1;
}
#_idContainer021 {
	-ms-transform:translate(126.000px,2.249px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(126.000px,2.249px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:75.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(126.000px,2.249px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(126.000px,2.249px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:95.33px;
	z-index:0;
}
#_idContainer022 {
	-ms-transform:translate(246.666px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(246.666px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:75.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(246.666px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(246.666px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:95.33px;
	z-index:2;
}
#_idContainer023 {
	display:inline-block;
	height:77px;
	position:relative;
	width:342px;
}
#_idContainer027 {
	display:inline-block;
	height:9px;
	width:270px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	height:79px;
	width:204px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
