*
  box-sizing: border-box

.cover-image, .rear-jacket-image
  img
    width 100%

  p.caption
    font-size 0.9em
    margin 0
    color #888
    font-style italic

img
  max-width 100%

.cover-image img
  border 2px solid #aaa
  border-radius 6px
  width 100%

.side-content
  float left
  width 35%
  margin-right 2em
  margin-bottom 1em
  margin-top 1em

.holiday-message
  border: 3px solid lighten(#ff0053, 90%)
  border-radius 6px
  padding 0.5em 1em
  transition: visibility 0.5s, height 0.5s linear
  text-align center
  clearfix: after
  .message-body
    align-items center
    .image-container
      width 10em
      margin 0 auto
    img
      width 100%
      margin-left 1.5em
    p
      flex 1
      font-style italic
      font-size 1.5em
      color #ff0053
      margin-top 0
      margin-bottom 0
  .message-controls
    display flex
    flex-direction row
    justify-content flex-end

button_color=#ff0053
a.button
  background-color lighten(button_color, 90%)
  margin-top 0.5em
  margin-right 0.5em
  border 1px solid button_color
  color button_color
  border-radius 3px
  display block
  padding 0.2em 0.5em
  font-size 0.8em
  cursor pointer
  float right

.purchase-request-form
  max-width 60%
  display block
  float left
  .numCopies>div
    display flex
    flex-direction row
    width 100%
    label
      flex-grow 1
