:global
  @require "./indesign-imported"

.wrap
  width: 50em
  margin: 1em auto

header
  a
    text-decoration none
  h1.site-title
    font-size 1.5em
  nav ul
    list-style-type none
    display flex
    flex-direction row
    padding-left 0
    li a
      margin-right 1em
      display block
      padding 0.2em 1em
      background-color lighten(dodgerblue, 80%)
      border-radius 4px

